build/*
buildapp/*
appbuild/*
deps/*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
TestTestfile.cmake
.DS_Store

.idea/*
cmake-build-debug/*

